body {
  /* Typography Declarations */
  color: #222222;
  font-size: 1em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
body{
  background-color: #A5B3BF;
}
.masthead-intro,
.masthead-heading,
.content-footer {
  text-align: center;
}
.masthead {
  padding: 6em 0;
}
.masthead {
  background-image: url('http://i.imgur.com/ohY40Ry.jpg?1');
  background-repeat: no-repeat;
  background-size: cover;
  border-top: solid 1em #475C72;
  background-position: center;
}
.masthead-intro {
  margin-bottom: 0.1em;
  font-family: "Gentium Book Basic", Georgia, serif;
  font-weight: light;
  font-size: 2em;
  color: #182B3B;
}
.masthead-heading {
  margin-top: -0.2em;
  color: #FCE1AE;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bolder;
  font-size: 6em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-shadow: 0px 5px 0px #C69477;
}
.introduction-section > p,
.location-section > p,
.content-footer > p {
  /* Typography Declarations */
  font-weight: 300;
  letter-spacing: 0.05em;
}
.introduction-section > h1,
.location-section > h1 {
  color: #475C72;
}
.questions-section > h1 {
  /* Typography Declarations */
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6em;
  font-weight: bold;
  color: #475C72;
}
.questions-section > h2 { 
  /* Typography Declarations */
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 1.4em;
  font-weight: bold;
  color: #FCE1AE;
  text-shadow: 0px 2px 0px #A89992;
}
.questions-section > p { 
  /* Typography Declarations */
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.05em;
}
.introduction-section,
.location-section,
.questions-section {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}
a {
  color: inherit;
}
.content-footer > p {
  color: white;
}
.content-footer {
  background-color: #D8B698;
}
.content-footer .icons > li {
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    text-align: center;
}
.content-footer .icons > li:hover {
    cursor: pointer;
}
.content-footer .github {
    color: #6CC644;
    text-decoration: none;
}
.content-footer .facebook {
    color: #4c66a4;
}
.content-footer .instagram {
    color: #3f729b;
}
